:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(189, 169, 144);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 64px;
}

.card {
    cursor: pointer;
    border-radius: 8px;
}